body {
    margin: 0;
    padding: 0;
}
div{
  background-color: lightblue;
  align-content: center;
  display: flex;
  flex-direction:column;}

.Hebler{
 display: flex;
 height: 250px;
 width: 250px;
 border: 5px solid black;
 padding: 4px;
 border-radius: 100%;
 top: 25px;
 bottom: 25px;
 margin: auto;
 position: relative;


}
.name{color: white;

  text-align: center;
  padding: 10px;


}
.topnav{
  background-color: darkblue;
  overflow: hidden;
  position: relative;
  align-content: flex-end;
  flex-direction: row;
}
.topnav a {
    display: flex;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
